body{
    text-align: center;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    color: #fff;
    font-family: 'Space Mono', monospace;
}
.btn {
    height: 200px;
    width:200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2em;
     
}
#startBtn {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #00bcd4;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
}
#startBtn:active {
    background-color: #0097a7;
}
.btn-container{
    display:flex;
    justify-content: center;
}
.yellow {
    background-color:yellow;
}
.red{
    background-color:red;
}
.purple{
    background-color: purple;
}
.green{
    background-color: green;
}
.flash {
    background-color:white;
}
.userflash{
    background-color: greenyellow;
}
@media (max-width: 768px) {
    .btn {
        height: 150px;
        width: 150px;
        margin: 1.5em;
    }

    h2 {
        font-size: 1.2rem;
        margin: 1em 0;
    }
}

